.vih-slideshow-content-width {
  float: left;
  display: block;
  width: 295px;
  height: 448px;
}

.vih-slideshow-content-width a {
  color: black;
  text-decoration:none;
}

.vih-slideshow-content-width .transparent {
  background: black;
  position: relative;
  top: -160px;
  left: 0px;
  width: 480px;
  color: white;
  padding: 10px;
  font-size: 1.1em;
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7; 
}

#content-main .vih-slideshow-content-width .transparent h2 {
  font-size: 1.1em;
}

